*{
	
	font-family: century gothic;
}

::-webkit-scrollbar{
	display:none;
}
 body{
	 width: 100%;
	 overflow-x:hidden;
	 margin:0;
 }

.wrapper{
	width: 1440px; 
	height: 100vh; 
	margin:0 auto; 
	}


.navbar{
	width: 1440px;
	height: 800px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/hero.png");

}

.ninja-logo{
float: left;
margin: 70px 0px 0px 60px;
}


.navbar-header{
	height: 60px;
	 width: 1440px; 
	/*background-color: #344F4B;*/
}



.navbar-header ul{
	list-style: none;
	float: right;
	margin:70px 100px 0px 0px; 
	}


.navbar-header ul li{
	display: inline-block;
}


.navbar-header ul li a{
	text-decoration:none;
	color:#ffffff;
	font-size: 17px;
	padding: 5px 20px;
	transition: 0.6s ease;
}

.navbar-header ul li a:hover{
background-color:#E9967A;
color:#ffffff;

}

.navbar-header ul img{
	margin:15px 0px 0px 35px;
}

.navbar-header ul li.active a{
background-color:#E9967A;
}


 .introduction h1{
	width: 922px;
 	height: 96px;
	color:#ffffff;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	margin:250px 259px 0px;
	
}

.colorchange{
	animation: colorchangefrontend 1s infinite;
}

@keyframes colorchangefrontend{
	0%{color:brown;}
	25%{color:black;}
	50%{color:white;}
	100%{color: black;}

}

.introduction p{
	width: 624px;
  	height: 84px;
  	margin:10px 409px 0px 407px;
  	text-align: center;
  	color:#ffffff;

  }
  

.button-to-apply{
	width: 192px;
  	height: 30px;
	background-color: #4CAF50;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	border-radius: 4px;
  	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.9);
  	text-decoration:none;
  	display: inline-block;
  	font-size: 18px;
  	margin: 50px 611px 0px 637px;
  	cursor: pointer;
	text-transform: uppercase;
	
}

.button-to-apply img{
	margin: 5px 0px 0px 8px;
}

h1.question-like{
	text-align: center;
	color:#000;
	font-size: 40px;
	letter-spacing: normal;
	margin-top:150px;
}

.column-img {
  float: left;
  padding : 30px 80px 0px ;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  
  
}

.column-img h3{
	color:#0EA007;
	text-align: center;
}

.column-img p{
	width: 300px;
	height: 88px;
	text-align: center;
}

 .third-portion{
	margin-top: 100px;
	display: flex;
}


.left-resources h1{
	margin-left:140px;

}

.left-resources ul{
	float: left;
	margin:15px 0px 0px 80px;
}

.left-resources ul li{
	list-style: none;
	display: block;
	color:#0EA007;
	padding:15px; 
	
	}


.right-latest-from-frontend h1{
margin:10px 0px 20px 230px;
	}



.right-latest-from-frontend ul{
	margin:0 100px 0 200px;
	}

.right-latest-from-frontend ul li{
	display: block;
	list-style: none;
	color: #0EA007;
	padding-top:16px;
}

.right-latest-from-frontend ul p{
margin:0px;
color:grey;
text-transform: uppercase;
font-size: 13px;
padding:3px 0px 15px;
}

.vertical-line {
	border-left: 1px solid green;
	height: 350px;
	position: absolute;
	left:50%;

}

.left-resources hr{
	size: 1;
	width: 450px;
	opacity: 0.2;
}

.right-latest-from-frontend hr{
	size: 1;
	width: 450px;
	opacity: 0.2;
}

.ic-separator-frontend-ninja{
	margin:60px 0px 0px 470px;
}


.ic-separator-frontend-ninja h1 { 
	display: flex; 
	flex-direction: row; 
	width: 400px;
} 
  
 .ic-separator-frontend-ninja h1:before,  
 .ic-separator-frontend-ninja h1:after { 
	content: ""; 
	flex: 1 1; 
	border-bottom: 1px solid green;
	margin: auto; 
}


.ic-separator-frontend-ninja img { 
	text-align: center;
	margin:0px 50px;
}

#heading-like h1{
	text-align: center;
	color:#9b9b9b;
	margin:85px 0px 0px;
}

#heading-like p{
	text-align:center;
	font-style: italic;
	font-size: 14px;
	color:#9b9b9b;
	margin-bottom: 30px;
}


.fourth-images-portion .column-1 img{
float: left;
margin:0px;
padding:0px;

}
.fourth-images-portion .column-2 img{
	float: left;
	margin-bottom: 100px;
	padding:0px;
}


.fifth-portion-what-we-provide{
	background-color: #423633;
	height: 2100px; 
	width:1440px; 
}

.fifth-portion-what-we-provide p{
	color:#ffffff;
	text-align: center;
	font-size: 40px;
	letter-spacing:normal;
}


.what-we-provide-content{
	margin:70px 180px 105px 210px;
	display: flex;
}

.what-we-provide-content h3{
	color:#ffffff;
	text-transform: uppercase;
	letter-spacing: normal;
	line-height:1.44;

}

.what-we-provide-content p{
	font-size: 16px;
	color:#ffffff;
	opacity: 0.5;
	width:240px;
	height: 72px;
	text-align: left;

}

.what-we-provide-content #column2{
	margin-left:120px;

}

.what-we-provide-content #column3{
	margin-left:120px;
	
}

#ninja-light-logo{
opacity:0.3;
text-align: center;
margin:110px 0px 0px 100px;
}

.footer{
	width: 1440px;
	height:95px;
	background-color: black;
}

.footer p{
	float: left;
	color:#ffffff;
	margin:40px 0 0 60px;
}

.footer ul{
	list-style: none;
	float: right;
	margin:42px 85px 0 0;
}

.footer ul li{
	display: inline-block;
	text-transform: uppercase;
	
}

.footer ul li a{
text-decoration:none;
color:#ffffff;
font-size: 17px;
padding: 5px 20px;
transition: 0.6s ease;
}



@media (max-width:600px){
	.ninja-logo{
		margin-top:70px;
		margin-left:0px;
	}

	.introduction h1{
		margin-top:200px;
		margin-left:25px;
		font-size:40px;
		width: 400px;
 		/* height: 96px; */
		
	}

	.introduction p{
		width: 400px;
		text-align: center;
		margin-left:30px;
		
		  }
	.navbar-header ul{
		/* height: 100vh; */
		width:100px;
		top:0;
		right:0;
		position: absolute; 
		text-align: left;
		margin-right:0px;
	}
	.navbar-header ul a{
		display:block;
	}

	.introduction p{
	width: 400px;
	text-align: center;
	margin-left:30px;
	
	  }

	  .button-to-apply{
		  margin-top:100px;
		  margin-left:170px;
		  width: 80px;
		  height: 20px;
		  text-align: center;
		  font-size:12px ;
	  }

	  .button-to-apply img{
		margin: 0px 15px 0px 14px;
		
	}
	h1.question-like{
		font-size: 35px;
		margin-top:50px;
		margin-left:50px;
		float:left;
	}

	.second-portion .row{
		/* display:block; */
		margin-left:10px;
		margin-right: 900px;
		
	}

	.third-portion {
		margin-top: 60px;
		font-size: 15px;
		display:block; 
		padding-left:10px;

	}

	.vertical-line{
	display: none;
			
}
}